<div class="footer text-center">
    <div class="first-footer overflow-hidden">
        <div class="container-fluid">
            <div class="row gx-0 gy-5 py-5 m-4">
                <div class="col-md-4 text-center text-white">
                    <h3 class="text-uppercase"> location </h3>
                    <p> 2215 John Daniel Drive </p>
                    <p> Clark, MO 65243 </p>
                </div>
                <div class="col-md-4 text-center text-white">
                    <h3 class="text-uppercase"> around the web </h3>
                    <div>
                        <span style="display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 50%; padding: .25em 0.5em"><i class="fa-brands fa-facebook " title="Back"></i></span>
                        <span style="display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 50%; padding: .25em 0.5em"><i class="fa-brands fa-twitter fa-fw" title="Forward"></i></span>
                        <span style="display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 50%; padding: .25em 0.5em"><i class="fa-brands fa-linkedin fa-fw" title="Refresh"></i></span>
                        <span style="display: inline-block; margin: 0.25em; border: 1px solid silver; border-radius: 50%; padding: .25em 0.5em"><i class="fa-solid fa-globe fa-fw" title="Home"></i></span>
                    </div>
                </div>
                <div class="col-md-4 text-center text-white">
                    <h3 class="text-uppercase"> about freelancer </h3>
                    <p> Freelance is a free to use, licensed bootstrap theme created by route </p>
                </div>
            </div>
        </div>
    </div>
    <div class="second-footer row gx-0 py-4">
        <div class="col-12 text-white">
            <p class="mb-0"> Copyright &copy; &nbsp;<strong>sTm &nbsp;</strong> 2024</p>
        </div>
    </div>
</div>
