.navbar{
    background-color: #2C3E50;
}
.navbar-brand{
    font-size: var(--large-font-size);
    font-weight: var(--large-font-weight);
    line-height: var(--large-line-height);
}
.nav-link{
    font-size: var(--small-font-size);
    font-weight: var(--large-font-weight);
    line-height: var(--small-line-height);
}
.nav-item-active{
    background-color: #1ABC9C;
    border-radius: 10px;
}
a{
    width: fit-content;
}