<section id="portfolio" >
    <div class="container">
        <div class="row align-items-start text-center justify-content-center px-4 gy-5 gx-5">
            <div class="col-12">
                <h2 class="main-header text-uppercase mb-4"> portfolio section
                    <div class="star">
                        <i class="fa-solid fa-star fs-5"></i>
                    </div>
                </h2>
            </div>
            @for (item of items; track $index) {
                <div class="col-10 col-md-4">
                    <div class="card rounded-3 overflow-hidden">
                        <img [src]="item.imgPath" class="w-100" alt="...">
                        <div (click)="showModal(item.imgPath)" class="card-img-overlay d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@if (modalIsShown) {
    <div id="modal" class="d-flex justify-content-center align-items-center"  (click)="hideModal($event)">
        <div class="img text-center">
            <img [src]="modalImage" alt="" class="w-75 h-75">
        </div>
    </div>      
}